<!DOCTYPE html>
<html lang="en">

<div th:replace="demo_1/header :: head"> </div>
<!-- <div th:replace="~{demo_1/header::head(~{::head})}"> </div> -->

<body>
    <div class="main-wrapper">

        <div th:replace="demo_1/side-bar :: nav"> </div>
        <div class="page-wrapper">

            <div th:replace="demo_1/nav :: nav"> </div>
            <div class="page-content">
                <!-- Template start -->

                <div class="card">
                    <div class="card-body">
                        <h6 class="card-title">Add New Item</h6>
                        <form class="forms-sample" th:action="@{/admin/update/{id}(id=${item.id})}" th:object="${item}"
                            method="post">
                            <div class="form-group">

                                <label for="endPointIdentifier">End Point Identifier</label>
                                <input th:field="*{endPointIdentifier}" type="text" class="form-control"
                                    id="endPointIdentifier" autocomplete="off" placeholder="dark-mousse">
                                <span th:if="${#fields.hasErrors('endPointIdentifier')}"
                                    th:errors="*{endPointIdentifier}"></span>
                            </div>
                            <div class="form-group">
                                <label for="itemName">Item Name</label>
                                <input th:field="*{itemName}" type="text" class="form-control" id="itemName"
                                    autocomplete="off" placeholder="دارك مووس">
                                <span th:if="${#fields.hasErrors('itemName')}" th:errors="*{itemName}"></span>
                            </div>
                            <div class="form-group">
                                <label for="itemDescription">Item Description</label>
                                <input th:field="*{itemDescription}" type="textarea" class="form-control"
                                    id="itemDescription"
                                    placeholder="كيكة الدارك كرمل موس , مكون من طبقة من كعكة الشوكولاتة الالمانية , و طبقة كريمية من خليط موس الشوكولاطةالبلجيكية و حشوة الكرمل الخفيفة  , و طبقة من جيلي الكرمل اللذيذ من الاعلى ">
                                <span th:if="${#fields.hasErrors('itemDescription')}"
                                    th:errors="*{itemDescription}"></span>
                            </div>
                            <div class="form-group">
                                <label for="itemPrice">Item Price</label>
                                <input th:field="*{itemPrice}" type="number" class="form-control" id="itemPrice"
                                    autocomplete="off" placeholder="20">
                                <span th:if="${#fields.hasErrors('itemPrice')}" th:errors="*{itemPrice}"></span>
                            </div>
                            <div class="form-group">
                                <label for="itemType">Item Type</label>
                                <input th:field="*{itemType}" type="text" class="form-control" id="itemType"
                                    autocomplete="off" placeholder="pcs">
                                <span th:if="${#fields.hasErrors('itemType')}" th:errors="*{itemType}"></span>
                            </div>
                            <div class="form-group">
                                <label for="itemFlavour">Item Flavour</label>
                                <input th:field="*{itemFlavour}" type="text" class="form-control" id="itemFlavour"
                                    autocomplete="off" placeholder="chocolate">
                                <span th:if="${#fields.hasErrors('itemFlavour')}" th:errors="*{itemFlavour}"></span>
                            </div>
                            <div class="form-group">
                                <label for="itemSize">Item Size</label>
                                <input th:field="*{itemSize}" type="number" class="form-control" id="itemSize"
                                    autocomplete="off" placeholder="1">
                                <span th:if="${#fields.hasErrors('itemSize')}" th:errors="*{itemSize}"></span>
                            </div>
                            <div class="form-group">
                                <label for="itemShape">Item Shape</label>
                                <input th:field="*{itemShape}" type="text" class="form-control" id="itemShape"
                                    autocomplete="off" placeholder="triangle">
                                <span th:if="${#fields.hasErrors('itemShape')}" th:errors="*{itemShape}"></span>
                            </div>


                            <button type="submit" class="btn btn-primary mr-2">Submit</button>
                            <button class="btn btn-light">Cancel</button>
                        </form>
                    </div>
                </div>

                <!-- Template End -->
            </div>
            <div th:replace="demo_1/footer :: footer">&copy; 2016 The Static Templates</div>
        </div>
    </div>
</body>

</html>