<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{demo_1/layout.html}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KetCake Editor</title>
</head>

<body>
    <section layout:fragment="content">
        <a th:href="@{admin/add-item}">
            <button class="btn btn-info m-3">Add New Item</button>

        </a>
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Items</h4>
                <div class="table-responsive" style="width: 100%;">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>
                                    Item Photo
                                </th>

                                <th>
                                    Item Name
                                </th>

                                <th>
                                    Item Type
                                </th>

                                <th style="color: red; width:70%">
                                    Operations
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="item : ${items}">

                                <td class="py-1">

                                    <img width="100px" th:if="${item.image == null}"
                                        src="http://via.placeholder.com/100x100" alt="image">
                                    <img th:if="*{item.image != null}"
                                        th:src="@{'data:image/jpeg;base64,'+${item.image}}" />
                                </td>
                                <td th:text="${item.itemName}">Name ...</td>
                                <td th:text="${item.itemType}">Type ...</td>
                                <td>
                                    <a th:href="@{admin/view-item/{id}(id=${item.id})}">

                                        <button class="btn btn-success">View</button>
                                    </a>

                                    <a th:href="@{admin/edit/{id}(id=${item.id})}">

                                        <button class="btn btn-info">Edit</button>
                                    </a>

                                    <a th:href="@{admin/delete/{id}(id=${item.id})}">

                                        <button class="btn btn-danger">Delete</button>
                                    </a>


                                </td>
                            </tr>


                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
</body>

</html>