<!-- <!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{demo_1/layout.html}">

<div th:replace="demo_1/header :: head"> </div>

<body>
    <section layout:fragment="content">
        <div class="container">

            <p th:if="${loginError}" class="error">Wrong user or password</p>
            <form th:action="@{/loginProccessing}" method="post">
                <label for="username">Username</label>:
                <input type="text" id="username" name="username" autofocus="autofocus" /> <br />
                <label for="password">Password</label>:
                <input type="password" id="password" name="password" /> <br />
                <input type="submit" value="Log in" />
            </form>
        </div>
    </section>
    <!-- Template End -->


</body>


</html> -->