<div class="card" style="border-radius: 20px">



    <img style="aspect-ratio: 1; object-fit: cover; border-radius: 20px 20px 0px 0px;" id="imageShow"
        src="http://via.placeholder.com/1024x1024" alt="image">
    <div class="priceHolder">
        <span id="item-price-show"></span>₪
    </div>


    <div class="card-body">
        <div class=" card-header">
            <!-- Item Name -->
            <h3 class="card-title" id="item-name-show"></h3>
        </div>
        <div class="card-body">
            <!-- Item Description -->
            <p class="card-text" id="item-description-show"></p>
        </div>
        <!-- <div class="card-footer">
                                <p class="card-text"></p>
                                <p class="card-text"></p>
                                <p class="card-text"></p>
                            </div> -->
    </div>
</div>